# Config aliases
alias zshconfig='vim ~/.zshrc'
alias dotfiles='cd ~/.dotfiles'

# Projects aliases
alias proj='cd ~/Code'

# Git aliases
alias deletebranch='git fetch --prune && git branch -r | awk "{print \$1}" | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk "{print \$1}" | xargs git branch -D'

# Docker aliases
alias startdocker="sudo systemctl start docker"

# Runs previous command in sudo
alias please='sudo $(fc -ln -1)'

# For VSCode fractional scaling fix
alias code='code --ozone-platform=wayland'
